.heading {
  margin: 0;
  font-weight: 500;
}

.outer-container {
  text-align: left;
  gap: 30px;
}

.inner-container {
  display: flex;
  gap: 30px
}

.text-container {
  flex: 1
}

.image-container {
  display: flex;
  gap: 20px;
  flex: 1;
  flex-wrap: wrap;
}

.image {
  /* display: block; */
  object-fit: cover;
  width: 48%;
  height: auto;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .image {
    width: 100%;
    height: auto;
  }
}