.outer-box {
  border: 1px solid black;
  padding: 30px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  gap: 20px
}

.text {
  margin: 0
}

.link {
  text-decoration: none;
  color: #444;
}

.link:hover {
  color: #707070;
}