.logo {
  width: 150px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.menuContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.link {
  text-decoration: none;
  color: #444;
}

.link:hover {
  color: #707070;
}